*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 3em;
    margin-top: 5em;
    background-color: rgb(238, 238, 236);
    width: 300px;
    height: 140px;
}
 #lig{
    color: rgb(53, 47, 47);
    font-size: 25px;
}
.ligado{
    width: 50px;
    height: 50px;
    margin: 7,4;
    background-color:rgb(94, 194, 102) ;
    border: none;
}
.desligado{
    width: 20px;
    height: 20px;
    background-color:
     red;
}